<% provide(:title, "Допомога") %>
<h1>Як користуватись нашим сайтом:</h1>
<ol>
<li>Перейдіть в кабінет студента.</li>
<li>Якщо ви зареєстровані, то ви зможете заповнити особисту інформацію в кабінеті.</li>
<li>Для перегляду оцінок використовуйте панель меню "Оцінки".</li>
<li>Останні новини ви можете подивитись в секції "Новини ЧПТ"</li>
<li>Інформацію про підготовчі курси дізнавайтесь у секції "Про курси"</li>
<li>Контактна інформація знаходиться в секції "Контакти"</li>
</ol>
<h2>Користуйтесь додатком тільки із задоволенням</h2>
