<% provide(:title, @student.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for current_user %>
        <%= @student.name %>
         <%= link_to 'налаштувати',  edit_student_path(@student) %>
      </h1>
    </section>
  </aside>
</div>
<%= link_to 'На головну', root_path %>
