<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
         <%= link_to 'edit',  edit_user_path(@user) %>
      </h1>
      <% if @user.activated? %>
              <p>активовано</p>
      <% else %>
              <p>не активовано</p>
      <% end %>
    </section>
  </aside>
</div>
