<footer class="footer">
  <nav>
    <ul>
      <li><%= link_to "Про курси",  "http://polytechnic.ck.ua/node/639" %></li>
      <li><%= link_to "Контакти", "http://polytechnic.ck.ua/node/8620" %></li>
      <li><a href="http://polytechnic.ck.ua">Новини ЧПТ</a></li>
    </ul>
  </nav>
</footer>
