<footer class="footer">
  <nav>
    <ul>
      <li><%= link_to "Про курси",   '#' %></li>
      <li><%= link_to "Контакти", '#' %></li>
      <li><a href="http://chpt.edu.ua/">Новини ЧПТ</a></li>
    </ul>
  </nav>
</footer>
